#!/usr/bin/env bash

# cd
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# ls
alias ll='ls -lah'

# rm
alias rm='rm -i'

# grep
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# zip
alias compress='tar -czvf'      # <filename.tar.gz> /path/to/directory-or-file
alias extract='tar -xzvf'       # -C /tmp (extract in a directory)

# update
alias sup='sudo apt update -y && sudo apt upgrade -y && sudo apt clean all'

# chmod & chown
alias chmod='chmod --preserve-root'
alias chown='chown --preserve-root'

# Shortcuts
alias g="git"

# Networking
alias pubip='dig +short myip.opendns.com @resolver1.opendns.com'
alias tracert='mtr --curses'
alias myip='ip -br -c a
'
# nmap
alias scanr='nmap -A -T4 -p-'

# Stuff
alias star_wars='telnet towel.blinkenlights.nl'
alias coord='whereami --r'
alias exif='identify'
alias signals='stty -a'
alias archstyle='neofetch'
alias py='python3'

PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\W\[\033[00m\]\$ '

/usr/games/cowsay -f articuno フリーザー
